#navbarSupportedContent{
    font-size: 22px;
    font-weight: 600;
    color: #4d4d4d;
    cursor: pointer;
    margin-top: 40px;
}

.menu-list{
    list-style: none;
}


.author-image{
    height: 35px;
    border-radius: 50%;
    display: block;
}

#news-Number{
    background-color: #d1d1d170;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner{
    height: 500px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
}